    .btn {
        background-color: transparent;
        border-color: transparent;
        font-size: 30px;
        color: black;
        background-color: rgb(196, 160, 209);
        border-radius: 50%;
        margin-right: 120px;
        cursor: pointer;
    }