.left {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.right {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    margin-left: 8px;
}

.box {
    margin: auto;
    width: 500px;
    display: flex;
}

.gap {
    display: flex;
    gap: 10px;
}

.date {
    font-size: 25px;
    color: rgb(78, 78, 202);
}