.date {
    text-align: center;
    padding-top: 10px;
}

.formDate {
    text-align: center;
    padding-top: 10px;
}

.borderTitle {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.today {
    width: 25px;
    height: 20px;
    margin-top: -15px;
    margin-left: 63px;
}